.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .logo img{
    width: 50px;
    height: 50px;
  }
  .logo-txt{
    text-align-last: start;
  }
  h1{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    font-size:xx-large;
    font-weight: 500;
  }
  h2{
      display: flex;
      flex-direction: column;
      font-size: xx-large;
      font-weight: 350;
  }
  h3{
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: 450;
  }
  form{
      width: 80%;
  }
  .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }
  .form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.columns{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}
label{
    padding: 5%;
}
input{
    padding: 3%;
    width: 96%;
    border-radius: line;
    border-color: #8d8b80;
    border: 0.5%;
}
  .container-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    align-content: center;
    margin-left: 0%;
    padding: 7%;
}
  .submit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #AACE9B;
    text-decoration: #666699;
    border: none;
    border-radius: 5px;
  }
  @media only screen and (min-width: 768px) {
    .logo{
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: inherit;
        margin-right: inherit;
    }
    .logo img{
        width: 40px;
        height: 40px;
    }
    .columns{
      flex-wrap: nowrap;
      width: 40%;
    }
    .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    width: 90%;
} 
  .columns {
    flex-wrap: wrap;
    width: 45%;
    padding: 2%;
  }
  .container-button{
    margin-left: 7%;
  }
}

@media only screen and (min-width: 1024px){
    main{
        width: 65%;
    }
    .logo{
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: inherit;
        margin-right: inherit;
    }
    h1{
        font-size: xx-large;
    }
}