<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix S.A</title>
    <link rel="icon" type="image" href="../assets/Logo.svg">
		<script src="https://kit.fontawesome.com/8739f361b0.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../styles/reset.css">
		<link rel="stylesheet" href="../styles/header.css">
		<link rel="stylesheet" href="../styles/footer.css">
		<link rel="stylesheet" href="../styles/aside.css">
		<link rel="stylesheet" href="../styles/main.css">
  </head>
  <body>
    <header>
		<div class="nav-top">
			<button class="h-menu"><i class="fa-solid fa-bars"></i></button>
			<div class="tutorial-contact">
				<a class="tutorial" href="#">Tutorials</a> <span>|</span> <a class="contact" href="">Contact</a>
			</div>
			<div class="search-input">
				<input class="search-bar" type="text" name="Search" placeholder="Search..." >
				<i class="fa-solid fa-magnifying-glass"></i>
				</input>
			</div>
			<div class="login-signup">
				<button class="login">Login</button>
				<button class="signup">Signup</button>
			</div>
		</div>
	</header>
	<div class="aside-main">
		<aside>
			<div>
					<h4><b>Menu</b></h4>
					<ul>
							<li><a href="#history">History</a></li>
							<li><a href="#about-us" class="about-us-li">About Us</a></li>
							<li><a href="#contact" class="cnct-frm-li">Contact Form</a></li>
							<li><a href="#sources" class="scr-li">Sources</a></li>
					</ul>
			</div>
			<div class="cnct-us">
					<div class="cnct-text">    
							<h4>Contact us</h4>
							<p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, 
									ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. 
									Sed nulla amet lorem feugiat tempus aliquam.</p>
					</div>
					<address id="contact">
							<span class="mail">
									<i class="fa fa-envelope-o" aria-hidden="true"></i>
									<a href="trackgenix@info.com">trackgenix@info.com</a></span>
							<span class="adress">
									<i class="fa fa-home" aria-hidden="true"></i>
									1234 Somewhere Road #8254
									Nashville, TN 00000-0000
							</span>
					</address>
					<button type="button">Get system information</button>
			</div>
	</aside>
		<main class="main-body">
			<div>
				<section class="first-section">
					<div class="logo">
							<img width="60" height="60" src="../assets/Logo.svg"></img>
							<div class="logo-txt">
								<h1>Trackgenix</h1>
								<h3>Data Managment</h3>
							</div>
						</div>
						<div class="data-manag">
							<img class="f-image" src="./images/Data-Management-Platform.png" />
								<p class="first-p">
									Presentation of the company : A nice message about us that you find very attractive, friendly, 
									that gives you confidence to stay on the site.
									Presentation of the company : 
									A nice message about us that you find very attractive, friendly,
									that gives you confidence to stay on the site.
								</p>
						</div>
					</section>
				<div class="middle">	
				<div class="img-sect">
					<figure class="simplicity">
						<img src="../assets/image-03-body.png" />
						<figcaption>Simplicity</figcaption>
					</figure>
					<figure class="efficiency">
						<img src="../assets/image-04-body.jpeg" />
						<figcaption>Efficiency</figcaption>
					</figure>
					<figure class="tracking">
						<img src="../assets/image-02-body.png" />
						<figcaption>Tracking</figcaption>
					</figure>	
					<figure class="confidence">
						<img src="../assets/image-03-body.png" />
						<figcaption>Confidence</figcaption>
					</figure>
					<figure class="managment">
						<img src="../assets/image-02-body.png" />
						<figcaption>Managment</figcaption>
					</figure>
				</div>
				<div class="info-container">
					<div class="wctdfy">
						<h4>What can Trackgenix do for you?</h4>
							<ul>
								<li>-Time registration</li>
								<li>-Reports</li>
								<li>-Resource management</li>
								<li>-Assign multiple roles</li>
							</ul>
					</div>
					<div class="wctiaql">
						<h4>Why choose Trackgenix is a quality leap?</h4>
							<ul>
								<li>-Increase productivity</li>
								<li>-Optimize leadership and team management</li>
								<li>-Facilitate work traceability</li>
								<li>-Improve decision making</li>
							</ul>
					</div>
				</div>
			</div>	
			<div>	
				<div class="about-us">
					<div class="first-part">
						<h4>About Us</h4>
						<h6>Confidentiality Agreement</h6>
					</div>
					<div class="img-abt">
						<img class="img-f-p" width="" height="" src="../assets/image-body-05.jpeg">
						<p class="first-parag">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit.
							Voluptatum corrupti perspiciatis, quasi dolore quae,
							adipisci nihil amet inventore perferendis aliquam praesentium,
							maxime illum sit esse delectus! Temporibus amet architecto,
							numquam quis minima error nulla autem incidunt non saepe in aliquam nostrum
							asperiores doloribus culpa cum fugiat. Aliquid enim quisquam explicabo excepturi nemo doloremque
						</p>
					</div>
					<div class="second-part"></div>
						<p class="secod-parag">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit atque laudantium exercitationem excepturi voluptates.
							Temporibus officiis omnis assumenda non animi aliquam, sed a consequuntur dolore eos nihil culpa exercitationem
							alias corrupti nemo error nisi nulla sequi earum, eum quibusdam laboriosam?
						</p>
						<img class="img-s-p" width="" height="" src="../assets/image-body-05.jpeg">
					</div>
				</div>  
				<div class="form">
					<h4 class="form-title">Get System Information</h4>
					<form action=" " method="POST">
						<label for="name" class="name">Name:</label>
						<input id="name" type="text" name="name" value="Write your name">
						<label for="email" class="email">E-mail:</label>
						<input id="email" type="email" name="email" value="Write your E-mail">
						<label for="contact" class="select-area">Select contact area:</label>
						<select id="contact" name="contactarea" class="select-words">
						<option value="select">-Select-</option>
						<option value="f-option">Support</option>
						<option value="s-option">Customer</option>
						<label for="message"></label>
						<div class="text-area">
							<textarea name="message" rows="10" cols="30">Write your message here.</textarea>
						</div>
						<div></div>
						<input type="Submit">
						</select>
					</form>
				</div>
			</div>
		</main>
	</div>	
		<section class="pre-footer">
			<div class="products">
				<h5>Poducts</h5>
				<ul>
					<li><a href="#">Funcionalities</a></li>
					<li><a href="#">Download</a></li>
					<li><a href="#">Integration</a></li>
					<li><a href="#">Extras</a></li>
				</ul>
			</div>
			<div class="company">
				<h5>Company</h5>
				<ul>
					<li><a href="#">Information</a></li>
					<li><a href="#">Clients</a></li>
					<li><a href="#">Resources</a></li>
					<li><a href="#">Blogs</a></li>
				</ul>
			</div>
			<div class="support">
				<h5 class>Support</h5>
				<ul>
					<li><a href="#">Help</a></li>
					<li><a href="#">Tutorials</a></li>
					<li><a href="#">API</a></li>
					<li><a href="#">Contacts</a></li>
				</ul>
			</div>
		</section>
	</div>
      <footer>
          <div class="footer-icons>
						<a href="https://www.linkedin.com/" target="_blank"> <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
            <a href="https://twitter.com/" target="_blank"> <i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
            <a href="https://github.com/" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
        	</div>
        <p class="mdeo">Montevideo, Uruguay</p>
        <p class="copy">Copyright 2022 Radium Rocket. All rights reserved.</p>
      </footer>
  </body>
</html>