header {
    background-color: #50A780;
    display: block;
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
}
.h-menu {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 5%;
    width: 43px;
    height: 42px;
    background: transparent;
    border: none;
    color: #fff;
}
.sign-up-button{
    display: inline-block;
    margin-left: 35px;
    margin-right: 0;
    background-color: white;
    text-align: center;
    border: black;
    border-radius: 200px;
    padding: 15px 25px;
}
.login-button{
    display: inline-block;
    margin-left: 20px;
    margin-right: 0;
    background-color: white;
    text-align: center;
    border: black;
    border-radius: 200px;
    padding: 15px 25px;
}
.link-head {
    height: 34px;
    width: 174px;
    margin-left: 35%;
    color: black;
    text-decoration: none;
}
.link-head-2 {
    color: black;
    height: 34px;
    width: 174px;
    text-decoration: none;
}
.link-head-2:hover {
    color: #fff;
    text-decoration: none;
}
.link-head:hover{
    color: #fff;
    text-decoration: none;
}
.search{
    visibility: hidden;
}
.search-input{
    border-radius: 200px;
    border: none;
    position: relative;
    display: inline-block;
}
.search-input .search-bar::placeholder{
    opacity: 15%;
    margin: 20px;
    padding: 30%;
}
aside{
    display: inline-block;
    width: 20%;
}
.nav-menu{
    padding-top: 10%;
    width: 25%;
    height: 1400px;
    background: linear-gradient(#50A780 80%, white);
}
.nav-menu ul a{
    display: inline-block;
}
.nav-menu .nav-title{
    display: inline-block;
    border-bottom: red 2px;
    border-bottom-style: ridge;
    margin-bottom: 4%;
    border-inline-end-width: 7px;
}
main {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    margin-left: 2%;
    margin-top: 8%;
}
.first-p{
    display: inline-block;
    width: 30%;
    text-overflow: clip;
}
.f-image{
    display: inline-block;
    width: 30%;
    height: 30%;
    margin-left: 10%;
}
.logo{
    display: table;
}
.logo .logo-txt{
    display: table-cell; 
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
}
.img-sect{
    margin: 8px;
}
#simplicity{
    display: inline-block;
    width: 110%;
    height: 82px;
    text-align: center;
    margin-right: 15%;
    margin-left: 5%;
}
#efficiency{
    display: inline-block;
    width: 10%;
    height: 82px;
    text-align: center;
    margin: 0% 15%;
}
#tracking{
    display: inline-block;
    width: 10%;
    height: 82px;
    text-align: center;
    margin: 0% 15%;
}
#confidence{
    display: inline-block;
    width: 10%;
    height: 82px;
    text-align: center;
    margin: 0% 15%;
}
#managment{
    display: inline-block;
    width: 10%;
    height: 82px;
    text-align: center;
    margin: 0% 15%;
}
.wctdfy{
    display: inline-block;
    margin: 6%;
}
.wctdfy h4{
    font-weight: bold;
}
.wctiaql{
    display: inline-block;
    vertical-align: top;
    margin: 6%;
}
.wctiaql h4{
    font-weight: bold;
}
#about-us{
    display: inline-block;
    background-color: #E9E9E9;
    border-radius: 20px;
}
.first-part h4{
    display: block;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-bottom: 1,5px;
    font-weight: 500;

}
.first-part h6{
    display: block;
    margin-left: 5%;
    top: initial;
    font-weight: 100;
}
.img-f-p{
    float: left;
    margin: 20px;
    left: 10%;
}
.first-paragrag{
    display: inline-block;
    width: 30px;
    right: 0;
}
#second-part{
    display: inline-block;
}
.second-parag{
    display: inline-block;
    left: 0;
    width: 30px;
    margin-top: 10%;
    margin-left: 10%;
    padding: 5 10px;
}
.img-s-p{
    float: right;
    margin: 20px;
    right: 10%;
}
/*form*/
#form{
    display: block;
}
.form-title{
    display: inline-block;
    border-bottom: black solid;
}
#name[type=text] {
    width: 20%;
    padding: 4px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #7B61FF;
    border-radius: 10px;
}

/*bottom menu*/
.container{
    background-color: #50A780;
    width: 100%;
    height: 120px;
    display: inline-block;
    padding-top: 19px;
    margin-top: 2%;
}
.products{
    display: inline-block;
    margin-left: 36%;
    padding: 1%;
}
.company{
    display: inline-block;
    border-left: 1px #000c solid;
    border-right: 1px #0000009c solid;
    padding: 1%;
}
.support{
    display: inline-block;
    padding: 1%;
}
.products h5{
    color: black;
    font-size: 18px;
}
.company h5{
    color: black;
    font-size: 18px;
}
.support h5{
    color: black;
    font-size: 18px;
}
.products a{
    color: #DBDBDB;
    text-decoration: none;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.company a{
    color: #DBDBDB;
    text-decoration: none;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.support a{
    color: #DBDBDB;
    text-decoration: none;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.products a:hover{
    color: black;
    text-decoration: none;
}
.company a:hover{
    color: black;
    text-decoration: none;
}
.support a:hover{
    color: black;
    text-decoration: none;
}
/*footer*/
.footer{
    width: 100%;
    text-align: center;
    align-items: center;
}
.footer-link{
display: contents;
}
.footer-info{
    display: block;
    position: fixed;
}
.mvd{
    display: block;
}
.copy{
    display: contents;
}