.container{
    background: #50A780;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 10%;
    max-width: 100%;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
  }
   .container > div > ul{
    flex-grow: 100%;
    flex-flow: column;
    justify-content: center;
  }
  .container > .products{
    padding: 7%;
  }
  .container > .support{
    padding: 7%;
  }
  .container > .company{
    border: 0.5px solid black;
    border-top: none;
    border-bottom: none;
    padding: 7%;
  }
  .container > div > ul > li > a{
    flex-grow: 100%; 
    flex-flow: column; 
    align-items: stretch;
    justify-content: center;
    color: #EFE7E7;
    text-decoration: none;
  }
  /*mediaquery-mobile*/
@media screen and (max-width: 480px) {
    header > .search-input > .fa-solid.fa-magnifying-glass {
      display: none;
    }
    aside.nav-menu {
      display: none;
    }
  
    #form {
      display: none;
    }
  }
  /* mediaquery-tablet */
  @media only screen and (min-width: 468px) and (max-width: 768px) {
    .i .fa-solid.fa-magnifying-glass{
      display: none;
    }
    aside.nav-menu {
      display: none;
    }
    #form {
      display: none;
    }
  }