footer{
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer-link {
    align-items: center;
  }
  .footer > .footer-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
  } 
  /*mediaquery-mobile*/
@media screen and (max-width: 480px) {
    header > .search-input > .fa-solid.fa-magnifying-glass {
      display: none;
    }
    aside.nav-menu {
      display: none;
    }
  
    #form {
      display: none;
    }
  }
  /* mediaquery-tablet */
  @media only screen and (min-width: 468px) and (max-width: 768px) {
    .i .fa-solid.fa-magnifying-glass{
      display: none;
    }
    aside.nav-menu {
      display: none;
    }
    #form {
      display: none;
    }
    .footer{
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    }
  }