*{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #50A780;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}
.h-menu{
    background: transparent;
    color: #ffffff;
    border: none;
    margin: 20px;
}
button.h-menu {
  margin-left: 20px;
  font-size: 18px;
}
.link-head, span, a{
    display:none
}
.search{
    display: none;
}
.search-bar{
    display: none;
}
header > i{
  display: flex;
  color: white;
  margin-right: 20px;
}
.header-button{
  display: inline-flex;
    width: 90px;
    height: 23px;
    background: #ffffff;
    border-radius: 200px;
    align-items: center;
    border-style: none;
    padding: 0,5%;
    justify-content: center;
    margin-right: 30px;
    flex: 2;
}
header i{
    display: flex;
    justify-self: end;
    color: #ffffff;
    margin-right: 20px;
    flex-shrink: 480px;
}
.nav-menu{
  float: left;
  display: flex;
  flex-flow: column wrap;
  height: 1909px;
  max-width: 30%;
  padding: 20px;
}

img.f-image {
  width: 331px;
  height: 243px;
}

.first-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.first-section > div {
  display: flex;
  width: 100%;
  margin: 40px;
  align-items: center;
  justify-content: center;
}

.logo-txt {
  font-size: 28px;
  margin-left: 20px;
}

.logo-txt > h3 {
  font-size: 18px;
}
.first-p{
    width: 331px;
    height: 60px;
}
.img-sect > div {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
}

#simplicity{
  background: #EFE7E7;
  align-self: flex-start;
  margin-top: 40px;
  justify-content: center;
  max-width: 101px;
  border-style: outset;
  border: black;
}

#simplicity > p{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#simplicity > img{
  width: 101px;
  height: 82px;
}
#efficiency{
  background: #EFE7E7;
  align-self: center;
  margin-top: 40px;
  justify-content: center;
  max-width: 101px;
  border-style: outset;
  border: black;
}

#efficiency > p{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#efficency > img{
  max-width: 101px;
  max-height: 82px;
}

#tracking{
  background: #EFE7E7;
  align-self: center;
  margin-top: 40px;
  justify-content: center;
  max-width: 101px;
  border-style: outset;
  border: black;
}

#tracking > p{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#tracking > img{
  width: 101px;
  height: 82px;
}

#confidence{
  background: #EFE7E7;
  align-self: center;
  margin-top: 40px;
  justify-content: center;
  max-width: 101px;
  border-style: outset;
  border: black;
}

#confidence > p{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#confidence > img{
  width: 101px;
  height: 82px;
}

#tracking{
  background: #EFE7E7;
  align-self: center;
  margin-top: 40px;
  justify-content: center;
  max-width: 101px;
  border-style: outset;
  border: black;
}

#tracking > p{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#tracking > img{
  width: 101px;
  height: 82px;
}

#managment{
  background: #EFE7E7;
  align-self: center;
  margin-top: 40px;
  justify-content: center;
  max-width: 101px;
  border-style: outset;
  border: black;
}

#managment > p{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#managment > img{
  width: 101px;
  height: 82px;
}
.info-container{
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
  padding: 20px;
}
.info-container > div > h4{
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  padding: 20px;
  text-align: center;
}
#about-us{
  display: flex;
  background: #E9E9E9;
  flex-flow: wrap;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
}
.first-part > h4{
  font-weight: 700;
  font-size: 18px;
  align-items: flex-start;
}
.first-part > h6{
  font-weight: 500;
  font-size: 16px;
  align-items: flex-start;
}
.first-part > .img-f-p{
  align-items: flex-start;
  width: 102px;
  height: 58px;
  padding: 10px;
}
.first-part > .first-parag{
  justify-content: center;
  align-items: flex-end;
  flex-flow: row wrap;
}
#about-us > #second-part > .img-s-p{
  align-items: flex-end;
  width: 102px;
  height: 58px;
  padding: 10px;
}
#about-us > #second-part > .second-parag{
  align-items: flex-start;
  flex-flow: row wrap;
}

#form{
    display: flexbox;
    flex-direction: column;
}

.container{
  background: #50A780;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 35%;
  max-width: 100% ;
}
 .container > div > ul{
  flex-grow: 100%;
  flex-flow: column;
  justify-content: center;
}
.container > .company{
  border-left: 20px;
  border-right: 20px;
  border-color: black;
}
.container > div > ul > li > a{
  flex-grow: 100%; 
  flex-flow: column; 
  align-items: stretch;
  justify-content: center;
  color: #EFE7E7;
  text-decoration: none;
}

footer{
  display: flex;
  padding: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-link {
  align-items: center;;
}
/*mediaquery-mobile*/
@media screen and (max-width: 480px) {
  .search-input > .fa-solid.fa-magnifying-glass {
    display: none;
  }
  aside.nav-menu {
    display: none;
  }

  #form {
    display: none;
  }
}
/* mediaquery-tablet */
@media screen and (max-width: 768px) {
  header > i .fa-solid.fa-magnifying-glass{
    display: none;
  }
  aside.nav-menu {
    display: none;
  }
  #form {
    display: none;
  }
}