*{
    font-family: 'Roboto', sans-serif;
}
.nav-menu{
  float: left;
  display: flex;
  flex-flow: column wrap;
  height: 1909px;
  max-width: 30%;
  padding: 20px;
}
/*mediaquery-mobile*/
@media screen and (max-width: 480px) {
  header > .search-input > .fa-solid.fa-magnifying-glass {
    display: none;
  }
  aside.nav-menu {
    display: none;
  }

  #form {
    display: none;
  }
}
/* mediaquery-tablet */
@media only screen and (min-width: 468px) and (max-width: 768px) {
  .i .fa-solid.fa-magnifying-glass{
    display: none;
  }
  aside.nav-menu {
    display: none;
  }
  #form {
    display: none;
  }
}